// HOJA DE ESTILO PARA APP
body {
  background-image: url(../images/galaxy.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  .app {
    width: 100vw;
    height: auto;

    .header-logo {
      width: 100%;
      height: auto;
      padding: 10px;

      @media all and (min-width: 768px) {
        width: 80%;
      }
      @media all and (min-width: 1200px) {
        width: 45%;
      }
    }
    .error-url {
      color: white;
      font-family: "Roboto", sans-serif;
    }
  }
}
