// HOJA DE ESTILO PARA CHARACTERDETAIL

.character-detail {
  width: 100vw;
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  .return-home {
    margin-left: 110px;
    padding: 5px;
    font-size: 12px;
    background-color: #a3bb50;
    @media all and (min-width: 768px) {
      font-size: 17px;
      padding: 6px;
      margin-left: 150px;
    }
    @media all and (min-width: 1200px) {
      font-size: 22px;
      margin-left: 150px;
    }
  }
  .detail-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .detail-image {
      border-radius: 5px;
      width: 180px;
      margin-top: 20px;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        width: 250px;
        margin-top: 30px;
      }
      @media all and (min-width: 1200px) {
        width: 250px;
        margin-top: 15px;
      }
    }
    .detail-name {
      font-family: "Ubuntu", sans-serif;
      letter-spacing: 2px;
      padding: 10px;
      width: 150px;
      font-size: 25px;
      font-weight: 300;
      @media all and (min-width: 768px) {
        font-size: 40px;
      }
      @media all and (min-width: 1200px) {
        font-size: 42px;
      }
    }
    .detail-data {
      width: 170px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: left;
      font-size: 14px;
      font-weight: 300;
      background-color: #a3bb50;
      padding: 10px;
      line-height: 20px;
      padding-top: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
        width: 300px;
        font-size: 22px;
        line-height: 30px;
      }
      @media all and (min-width: 1200px) {
        line-height: 25px;
      }
    }
  }
}
