// HOJA DE ESTILO PARA CHARACTERCARD
.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .card-image {
    border-radius: 5px;
    width: 80%;
    border: 4px#358293 solid;
  }
  .card-name {
    margin-top: 0px;
    width: 60%;
    background-color: #54ad5c;
    border-radius: 5px;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: inherit;
    margin-left: 50px;
    border: 1px#a3bb50 solid;
  }
  .card-specie {
    display: block;
    width: 60%;
    font-size: 30px;
    padding: 5px;
    color: white;
    background-color: #358293;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: 1px#a3bb50 solid;
  }
}
