// HOJA DE ESTILO PARA  FILTERS

.filter-form {
  display: flex;
  justify-content: center;
  .filter-input {
    color: #1b526a;
    font-family: "Architects Daughter", cursive;
    font-size: 14px;
    border: 4px#a3bb50 solid;
    min-width: 250px;
    min-height: 40px;
    border-radius: 5px;
    margin: 20px;
    @media all and (min-width: 768px) {
      width: 400px;
      height: 60px;
      font-size: 18px;
    }
  }
}
